<div class="home-page">
  <div class="cover-image">
    <img src="./../../assets/images/cash-cent-child-1246954.jpg">
  </div>
  <div class="middle-grid">
    <a class="know-your-affordable-tuition" routerLink="/know-affordable-tuition">
      <span>Know Your</span>
      <span>Affordable Tuition</span>
      <span>Assistance Program</span>
    </a>
    <a class="success-stories" routerLink="/success-stories">
      <span>Success Stories</span>
    </a>
  </div>
  <div class="login-form-container">
    <div>
      <div>Interested?</div>
      <div>Login in to Apply</div>
    </div>
    <form>
      <div>
        <label for="email">Email:</label>
        <input name="email" id="email" type="text">
      </div>
      <div>
        <label for="password">Password:</label>
        <input name="password" id="password" type="password">
      </div>
    </form>
    <div>
      <div>
        New? <a>Create Account</a>
      </div>
      <div>
        Forgot Password? <a>Click Here</a>
      </div>
    </div>
  </div>
</div>
